<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ edad }}</p>
<p>Edad del empleado: {{ (edad>=18)? "Es mayor de edad": "Es menor de edad" }}</p>
<p>Empresa del empleado: {{ empresa }}</p>
Intruduce la  empresa <input type="text" [(ngModel)]="empresa">

<p>color: {{ color }}</p>
Intruduce color <input type="text" [(ngModel)]="color">
<p>estatura: {{ estatura }}</p>
intruduce la estaura <input type="text" [(ngModel)]="estatura">


<p>Genero: {{ genero }}</p>
Intruduce genero <input type="text" [(ngModel)]="genero">
<br>
<br>
{{ texto_registro }} 
<br>
Resgistrado: <input type="radio" name="n_radio" id="registro" [checked]="usuario_registrado_porperty" (click)="set_usuario_registrado($event)" value="si"><br>
No resgistrado: <input type="radio" name="n_radio" [checked]="usuario_registrado_porperty" (click)="set_usuario_registrado($event)" value="no"><br>

{{seleccion}} <br>
Intruduce la opcion <select [(ngModel)]="seleccion">
    <option value="">Seleccione</option>
    <option value="Hola">Hola</option>
    <option value="Adios">Adios</option>
</select>


<p>Correo: {{ correo }}</p>
Intruduce el correo <input type="text" [(ngModel)]="correo">
<br>
<br>
{{carrera}} <br>
Intruduce la carrera <select [(ngModel)]="carrera">
    <option value="">Seleccione</option>
    <option value="Ingeniria CC">Ingeniria CC</option>
    <option value="Comunicaciones">Comunicaciones</option>
    <option value="Licenciatura">Licenciatura</option>
</select>


<br>
{{ genero_registrado }} 
<br>
Femenino: <input type="radio" name="n_radio" id="registro" [checked]="genero_registrado_porperty" (click)="set_genero_registrado($event)" value="si"><br>
Masculino: <input type="radio" name="n_radio" [checked]="genero_registrado_porperty" (click)="set_genero_registrado($event)" value="no"><br>

<hr>
<button [style]="color_boton_property" (click)="lanzar_mensaje()">
    Cambiar color
</button>

<br>
<br>
<label>
    <input type="checkbox" [(ngModel)]="estado_checkbox"> Marcar/Desmarcar
    <p>
    <!--Operador ternario-->
        Estado del checkbox: {{ estado_checkbox ? 'Marcado' : 'No marcado'}}
    </p>
</label>

<br>

<p>Color: {{ color_input }}</p>
<input type="color" [(ngModel)]="color_input">



<!--<p>Documento del empleado: {{ documento}}</p>
<p>Numero del empleado: {{ telefono }}</p>



Introduce la empresa: <input type="text" #empresa
(keyup)="0">
<br>
<br>-->
<!--Introduce el documento: <input type="text" #documento
(keyup)="0">
<br>
<br>
Introduce el telefono: <input type="text" #telefono
(keyup)="0">
<br>-->




<!--type="checkbox" id="registro" [checked]="usuario_registrado_porperty" (click)="set_usuario_registrado()">
{{ cambiar_registro() }}-->
